<kendo-mobile-view k-title="'{{title}}'"  k-layout="'main'" ng-controller="homeController" >

    <div kendo-mobile-scroller="scroller" k-pull-to-refresh="true" k-pull="refresh" style="height: 900px">
        <div class="container">
            <br>

            <div class="search">
                {{Search.SalesOrder}}

                <div class="text-right">
                    <ul class="nav navbar-nav">

                    </ul>
                </div>
                <div class="">
                    <select ng-model="selectedPara"  ng-change="selectParamter()" ng-options="parameter.id as parameter.name for parameter in parameters" ng-init="selectedPara = selectedPara || '1'">
                    </select>
                    {{selectedPara}} <span class="k-textbox k-space-right" style="width: 90%;" >
                        <input type="text" id="icon-right"  ng-model="searchValue" ng-keypress="key($event)"/>
                        <a href="#" class="k-icon k-i-search" ng-show="!searchValue">&nbsp;</a>
                        <a href="#" class="k-icon k-i-cancel"  ng-show="searchValue" ng-click="clearSearch()" k-align="'right'" >&nbsp;</a>

                    </span>
                
                </div>

            </div>
            <div>
                <div ng-repeat="orderCount in orderCounts">
                    <ul kendo-mobile-button-group>
                        <li  class="km-button retailer retailer-{{retailer.RetailerId}}" ng-show="orderCount.HasApproval">
                            <a href id="approvalDetail-{{orderCount.RetailerId}}" ng-click="approvalDetail(orderCount.RetailerId)">Approval ({{ orderCount.ApprovalCount}})</a>
                        </li>
                        <li class="km-button retailer retailer-{{retailer.RetailerId}}"  ng-show="orderCount.NewOrderCount">
                            <a href id="newOrderDetail-{{orderCount.RetailerId}}" ng-click="newOrderDetail(orderCount.RetailerId)" >New ({{ orderCount.NewOrderCount}})</a>
                        </li>
                        <li  class="km-button retailer retailer-{{retailer.RetailerId}}"  ng-show="orderCount.HasReleased">
                            <a href id="releaseOrderDetail-{{orderCount.RetailerId}}" ng-click="releaseOrderDetail(orderCount.RetailerId)" >Released ({{ orderCount.ReleasedOrderCount}})</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->

                    <br />
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane order" id="approval-{{orderCount.RetailerId}}">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>

                                        <th ng-if="searchParameterId == '1'">Order Number</th>
                                        <th ng-if="searchParameterId == '2' ">Sales Order</th>
                                        <th ng-if="searchParameterId == '1' ">Sales Order</th>
                                        <th ng-if="searchParameterId == '2'">Order Number</th>
                                        <th ng-if="searchParameterId == '3'">Shopping Cart</th>
                                        <th ng-if="searchParameterId == '3'">Order Number</th>
                                        <th ng-if="searchParameterId == '4'">Vendor Ref</th>
                                        <th ng-if="searchParameterId == '4'">Order Number</th>
                                        <th>Date In System</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="order in orders">
                                        <td ng-if="searchParameterId == '1'">
                                            <input id="{{order.SalesOrderNo}}" type="checkbox" value="{{order.SalesOrderNo}}" 
                                                   ng-checked="selection.indexOf(order.SalesOrderNo) > -1" ng-click="toggleSelection(order.SalesOrderNo)" />
                                            <a href="" ng-click="orderDetail(1, searchParameterId, order.OrderNumber)">{{order.OrderNumber}}</a>
                                        </td>
                                        <td ng-if="searchParameterId == '2' ">
                                            <input id="{{order.SalesOrderNo}}" type="checkbox" value="{{order.SalesOrderNo}}" 
                                                   ng-checked="selection.indexOf(order.SalesOrderNo) > -1" ng-click="toggleSelection(order.SalesOrderNo)" />
                                            <a href="" ng-click="orderList(1, searchParameterId, order.SalesOrderNo)">{{order.SalesOrderNo}}</a>
                                        </td>
                                        <td ng-if="searchParameterId == '1'">
                                            {{order.SalesOrderNo}}
                                        </td>
                                        <td ng-if="searchParameterId == '2'">{{order.OrderNumber}}</td>
                                        <td ng-if="searchParameterId == '3'">
                                            <input id="{{order.SalesOrderNo}}" type="checkbox" value="{{order.SalesOrderNo}}" 
                                                   ng-checked="selection.indexOf(order.SalesOrderNo) > -1" ng-click="toggleSelection(order.SalesOrderNo)" />
                                            <a href="" ng-click="orderList(1, searchParameterId, order.SalesOrderNo)">{{order.ShoppingCart}}</a>
                                        </td>
                                        <td ng-if="searchParameterId == '3'">{{order.OrderNumber}}</td>
                                        <td ng-if="searchParameterId == '4'">
                                            <input id="{{order.SalesOrderNo}}" type="checkbox" value="{{order.SalesOrderNo}}" 
                                                   ng-checked="selection.indexOf(order.SalesOrderNo) > -1" ng-click="toggleSelection(order.SalesOrderNo)" />
                                            <a href="" ng-click="orderList(1, searchParameterId, order.SalesOrderNo)">{{order.VendorRef}}</a>
                                        </td>
                                        <td ng-if="searchParameterId == '4'">{{order.OrderNumber}}</td>
                                        <td>{{order.DateInSystem | date}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <kendo-mobile-button k-on-click="viewAll(1, searchParameterId)" k-align="'right'">View All</kendo-mobile-button>
                            <kendo-mobile-button k-on-click="approve()" k-align="'right'">Bulk Approve</kendo-mobile-button>
                        </div>

                        <div role="tabpanel" class="tab-pane order" id="new-{{orderCount.RetailerId}}">
                            <table class="table table-condensed table-striped">
                                <th ng-if="searchParameterId == '1'">Order Number</th>
                                <th ng-if="searchParameterId == '2' ">Sales Order</th>
                                <th ng-if="searchParameterId == '3'">Shopping Cart</th>
                                <th ng-if="searchParameterId == '4'">Vendor Ref</th>
                                <th>Status</th>
                                <th>Order Date</th>
                                <tbody>
                                    <tr ng-repeat="order in orders">
                                        <td ng-if="searchParameterId == '1'">
                                            <a href="" ng-click="orderDetail(2, searchParameterId, order.OrderNumber)">{{order.OrderNumber}}</a>
                                        </td>
                                        <td ng-if="searchParameterId == '2'">
                                            <a href="" ng-click="orderList(2, searchParameterId, order.SalesOrderNo)">{{order.SalesOrderNo}}</a>
                                        </td>

                                        <td ng-if="searchParameterId == '3'">
                                            <a href="" ng-click="orderList(2, searchParameterId, order.SalesOrderNo)">{{order.ShoppingCart}}</a>
                                        </td>
                                        <td ng-if="searchParameterId == '4'">
                                            <a href="" ng-click="orderList(2, searchParameterId, order.SalesOrderNo)">{{order.VendorRef}}</a>
                                        </td>
                                        <td>{{order.Status}}</td>
                                        <td>{{order.OrderDate | date}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <kendo-mobile-button k-on-click="viewAll(2, searchParameterId)" k-align="'right'">View All</kendo-mobile-button>
                        </div>
                        <div role="tabpanel" class="tab-pane order" id="released-{{orderCount.RetailerId}}">

                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>

                                        <th ng-if="searchParameterId == '1'">Order Number</th>
                                        <th ng-if="searchParameterId == '2' ">Sales Order</th>

                                        <th ng-if="searchParameterId == '3'">Shopping Cart</th>
                                        <th ng-if="searchParameterId == '4'">Vendor Ref</th>
                                        <th>Status</th>
                                        <th>Order Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="order in orders">
                                        <td ng-if="searchParameterId == '1'">
                                            <a href="" ng-click="orderDetail(3, searchParameterId, order.OrderNumber)">{{order.OrderNumber}}</a>
                                        </td>
                                        <td ng-if="searchParameterId == '2'">
                                            <a href="" ng-click="orderList(3, searchParameterId, order.SalesOrderNo)">{{order.SalesOrderNo}}</a>
                                        </td>

                                        <td ng-if="searchParameterId == '3'">
                                            <a href="" ng-click="orderList(3, searchParameterId, order.SalesOrderNo)">{{order.ShoppingCart}}</a>
                                        </td>
                                        <td ng-if="searchParameterId == '4'">
                                            <a href="" ng-click="orderList(3, searchParameterId, order.SalesOrderNo)">{{order.VendorRef}}</a>
                                        </td>
                                        <td>{{order.Status}}</td>
                                        <td>{{order.OrderDate | date}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <kendo-mobile-button k-on-click="viewAll(3, searchParameterId)" k-align="'right'">View All</kendo-mobile-button>
                        </div>

                    </div>
                    <br />
                </div>

            </div>
        </div>
    </div>

</kendo-mobile-view>
