<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8" />

        <link href="kendo/styles/kendo.mobile.all.min.css" rel="stylesheet" />
        <link href="kendo/styles/kendo.common.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="src/assests/styles/bootstrap.css">
        <link href="src/assests/styles/main.css" rel="stylesheet" />
        <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.2.624/styles/kendo.default.min.css">
        <script src="cordova.js"></script>
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <!--<script src="kendo/js/jquery.min.js"></script>-->

        <script src="src/vendor/angular.js"></script>
        <!--    <script src="src/vendor/angular-route.js"></script>-->
        <script src="src/vendor/angular-local-storage.js"></script>

        <script src="kendo/js/kendo.mobile.min.js"></script>
        <script src="kendo/js/kendo-all.js"></script>

        <script src="https://bs-static.cdn.telerik.com/latest/everlive.all.min.js"></script>

        <script src="src/vendor/bootstrap.js"></script>

        <!-- services and directives scripts -->
        <script src="scripts/app.js"></script>
        <script src="src/app/common/services/authInterceptorService.js"></script>
        <script src="src/app/common/services/authService.js"></script>
        <script src="src/app/common/services/messageDataService.js"></script>
        <script src="src/app/common/services/homeDataService.js"></script>
        <script src="src/app/common/services/orderDataService.js"></script>

        <script src="src/app/common/services/indexDataService.js"></script>
        <script src="src/app/common/services/loginDataService.js"></script>
        <script src="src/app/common/services/translateService.js"></script>
        <script src="src/app/common/services/alerting.js"></script>
        <script src="src/app/common/services/faqDataService.js"></script>
        <script src="src/app/common/services/policyDataService.js"></script>
        <script src="src/app/common/services/termsConditionDataService.js"></script>
        <script src="src/app/common/services/feedbackDataService.js"></script>

        <script src="src/app/common/directives/alerting.js"></script>
        <script src="src/app/common/directives/components.js"></script>

        <!-- app scripts -->

        <script src="src/app/menu/menuController.js"></script>
        <script src="src/app/login/loginController.js"></script>
        <script src="src/app/home/homeController.js"></script>
        <script src="src/app/order/orderController.js"></script>
        <script src="src/app/contactus/contactusController.js"></script>
        <script src="src/app/faq/faqController.js"></script>
        <script src="src/app/message/messageController.js"></script>

        <script src="src/app/feedback/feedbackController.js"></script>
        <script src="src/app/help/helpController.js"></script>
        <script src="src/app/notification/notificationController.js"></script>
        <script src="src/app/policy/policyController.js"></script>
        <script src="src/app/termsCondition/termsConditionController.js"></script>
    </head>
    <body kendo-mobile-application ng-app="app" k-initial="'src/app/home/home.html'" k-hash-bang="true">

        <kendo-mobile-layout k-id="'main'" ng-controller="menuController">
            <kendo-mobile-header >
                <kendo-mobile-nav-bar>
                    <a kendo-mobile-button="" k-align="'left'" href="#right-drawer" k-rel="'drawer'" data-role="button" class="km-widget km-button" data-rel="drawer" data-align="left">
                        <span class="km-text"><i class="icon ion-navicon-round"></i> Menu</span>
                    </a>
                    <kendo-view-title></kendo-view-title>
                    <a href="" class="k-icon k-i-note" k-align="'right'" ng-show="authentication.isAuth" ng-click="mnuClick('message')">&nbsp;</a>&nbsp;

                    <!--  <kendo-mobile-back-button id="back-button" k-align="'right'"></kendo-mobile-back-button>-->

                </kendo-mobile-nav-bar>

            </kendo-mobile-header>

            <!-- application views will be rendered here -->
            <kendo-mobile-footer>
                <kendo-mobile-nav-bar>
                    <p>
                        <alerts></alerts>
                    </p>
                </kendo-mobile-nav-bar>
            </kendo-mobile-footer>
        </kendo-mobile-layout>

        <!-- application drawer and contents -->

        <kendo-mobile-drawer id="right-drawer" style="width: 270px" k-title="'{{menu.title}}'" ng-controller="menuController">
            <kendo-mobile-header>
                <kendo-mobile-nav-bar>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a ng-show="!authentication.isAuth" ng-click="mnuClick('login')">
                                <span class="glyphicon glyphicon-log-in"></span>Login
                            </a>
                        </li>
                        <li>
                            <a href="" ng-show="authentication.isAuth" ng-click="logout()">
                                Logged as <b>{{authentication.userName}} </b><span class="glyphicon glyphicon-off"></span>
                            </a>
                        </li>
                    </ul>
                    <kendo-view-title></kendo-view-title>
                </kendo-mobile-nav-bar>
            </kendo-mobile-header>

            <ul kendo-mobile-list-view>
                <li>

                    <a href="src/app/contactus/contactus.html" data-icon="info">
                        {{menu.contactus}}
                    </a>
                </li>
                <li>
                    <a href="src/app/faq/faq.html" data-icon="home">
                        {{menu.faq}}
                    </a>
                </li>
                <li>
                    <a href="src/app/termsCondition/termsCondition.html" data-icon="home">
                        {{menu.termsCondition}}
                    </a>
                </li>
                <li>
                    <a href="src/app/policy/policy.html" data-icon="home">
                        {{menu.policies}}
                    </a>
                </li>
                <li>
                    <a href="src/app/help/help.html" data-icon="home">
                        {{menu.help}}
                    </a>
                </li>
                <li ng-show="authentication.isAuth">
                    <a href="src/app/notification/notification.html" data-icon="settings">
                        {{menu.notificationSettings}}
                    </a>
                </li>
                <li ng-show="authentication.isAuth">
                    <a href="src/app/feedback/feedback.html" data-icon="home">
                        {{menu.feedback}}
                    </a>
                </li>

            </ul>
        </kendo-mobile-drawer>

        <kendo-mobile-layout k-id="'other'" ng-controller="menuController">
            <kendo-mobile-header >
                <kendo-mobile-nav-bar>

                    <kendo-view-title></kendo-view-title>
                    <a href="" class="data-home" k-align="'right'" ng-show="authentication.isAuth" ng-click="mnuClick('close')"> close</a>&nbsp;

                    <!--  <kendo-mobile-back-button id="back-button" k-align="'right'"></kendo-mobile-back-button>-->

                </kendo-mobile-nav-bar>

            </kendo-mobile-header>

            <!-- application views will be rendered here -->
            <kendo-mobile-footer>
                <kendo-mobile-nav-bar>

                    <alerts></alerts>

                </kendo-mobile-nav-bar>
            </kendo-mobile-footer>
        </kendo-mobile-layout>

        <script>document.addEventListener('deviceready', function () {
            feedback.initialize('7c882340-3274-11e5-a28d-c9df925f448c'); // Replace with your API key
        });
        </script>
    </body>

</html>
