<kendo-mobile-view k-title="'{{order.title}}'" k-layout="'main'" ng-controller="orderDetailController" k-on-show="intShow(kendoEvent)">
    <br>
    <div>
        {{order.detail.OrderNumber}}<br>
        {{order.detail.OrderDate}}
        <br>
     
            <span ng-show="order.hasApproval">Waiting<br></span>
            <span ng-show="!order.hasApproval">{{order.detail.Stauts}}<br></span>
             {{order.detail.SalesOrderNo}}<br>
            {{order.detail.VendorRef}}<br>

    </div>
    <br>
    <div class="apporval" ng-show="order.hasApproval">
        Comment<br>
        <input type="text" ng-modal="order.detail.comment"/>
        <button ng-click="apporve(true)">YES</button>
        <button ng-click="apporve(false)">No</button>
    </div>
</kendo-mobile-view>